@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.jodit-status-bar__item.jodit-status-bar__item-right .jodit-status-bar-link {
  display: none;
}
.jodit-wysiwyg ul,
.jodit-editor-style ul {
  list-style: inherit !important;
  margin-left: 20px;
}
.jodit-wysiwyg ol,
.jodit-editor-style ol {
  list-style: any !important;
  margin-left: 20px;
}
.jodit-wysiwyg li,
.jodit-editor-style li {
  list-style-position: inside;
}

html,
body,
.jodit-editor-style span {
  font-family: "Poppins", sans-serif !important;
}
